@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    padding: 0 10px;
    background: linear-gradient(to left,oklch(39.8% 0.195 277.366),oklch(39.8% 0.195 277.366));
}
.container{
    max-width: 576px;
    background: #fff;
    margin: auto;
    margin-top: 100px;
    padding: 2em 1.6em;
    border-radius: 15px;
    box-shadow: 0 0 20px 3px rgb(0,0,0,.9);

}
header{
    display: flex;
}
header img{
    max-width: 50px;
    margin-left: 10px;
}
header h1{
    color:oklch(39.6% 0.09 240.876) ;
}
.input{
    margin-top: 10px;
    margin-left: 5px;
    display: flex;
    position: relative;
    align-items: center;
}
.input input{
    padding: 4px;
    border-radius: 15px;
    width:90%;
    font-size: 18px;
    padding-left: 10px;
    border: 2px solid #9a9999;
    background: #d6d3d1;
    outline: none;
}
.input input:focus{
    border-color:#22d3ee ;
}
.input .add{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    align-content: center;
    background: #2f2f56;
    color:white;
    margin-left: 5px;
    cursor: pointer;
    transition: .4s;
}
.add:hover{
    background: #20203c;
}
.add span{
    font-size: 40px;
}
.output{
    margin: 30px 0;
    margin-left: 5px;
}
.output img{
    width: 20px;
}


/* media size */
@media (min-width:576px){
    .input button{

    }
}